@*
    TODO: 
    + Add date ranges (30, 60, 90, etc)
    + Add event recurrence
    + Refactor reminders to be events instead
    + Add updateable, individual recurring events
*@
@page "/r"
@page "/r/{AccountId?}"

@inject IQueryProcessor queries
@inject NavigationManager navigationManager

@    using Mayflower.Core.Infrastructure.Queries;
@    using Mayflower.Core.Infrastructure.Queries.Reminders;
    using Mayflower.Core.Infrastructure.Interfaces.Queries;

<PageTitle>Reminders</PageTitle>

<h1>Reminders</h1>

@if (tableRows == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col">
                <EditForm EditContext="@accountIdContext" OnSubmit="@HandleAccountIdSubmitAsync">
                    <input id="accountId" @bind="AccountId" />
                    <button type="submit">Submit</button>
                </EditForm>
            </div>
            <div class="col">
                <EditForm EditContext="@currentFundsContext" OnSubmit="@HandleCurrentFundsSubmit">
                    <input id="currentFunds" @bind="currentFunds" />
                    <button type="submit">Submit</button>
                </EditForm>
            </div>
        </div>
        @if (!tableRows.Any())
        {
            <div class="alert alert-warning" role="alert">
                There are no reminders for this account
            </div>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-start">Date</th>
                        <th class="text-start">Pay To / Receive From</th>
                        <th class="text-end">Amount</th>
                        <th class="text-end">Closing Balance</th>
                    </tr>
                </thead>
                <tbody>
                    @if (tableRows.Any())
                    {
                        foreach (var row in tableRows)
                        {
                            <tr>
                                <td class="text-start">@row.WhenOccurs.ToString("MM/dd/yyyy")</td>
                                <td class="text-start">@row.Description</td>
                                <td class="text-end"><span class="@row.TransactionAmountCss">@row.TransactionAmountForDisplay</span></td>
                                <td class="text-end"><span class="@row.ClosingBalanceCss">@row.ClosingBalanceForDisplay</span></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }

    </div>

}

@code {
    private const string CURRENCYFORMAT = "#,##0.00";

    private decimal runningBalance = 0;
    private IList<Reminder> reminders = new List<Reminder>();
    private IList<ReminderTableRow>? tableRows = null;
    private EditContext accountIdContext = new (string.Empty);
    private EditContext currentFundsContext = new(0);
    private int currentRangeInDays = 60;
    private decimal currentFunds = 0;

    [Parameter]
    public string? AccountId { get; set; }


    protected override async Task OnInitializedAsync()
    {
        this.runningBalance = this.currentFunds;
        this.accountIdContext = new(AccountId ?? string.Empty);
        this.currentFundsContext = new(this.currentFunds);

        await SetReminders();

        this.tableRows = GetReminderTableRows();
    }

    private async Task SetReminders()
    {
        var accountId = GetConvertedAccountId();

        if (accountId != 0)
        {
            // Get the list of reminders that we will use throughtout the page's life
            var query = new GetAllRemindersByFinancialAccountIdQuery(accountId);
            this.reminders = await queries.Execute(query);
            this.reminders = this.reminders.OrderBy(r => r.WhenOccurs).ToList();
        }
    }

    private IList<ReminderTableRow> GetReminderTableRows()
    {
        var tableRows = GetRecurringTableRows().OrderBy(r => r.WhenOccurs).ToList();
        var accountId = GetConvertedAccountId();

        // Loop each row and sum it all up 
        foreach (var row in tableRows)
        {
            decimal transactionAmount = row.TransactionAmountForMath;

            // Add or remove money from the running balance and set up the corresponding styles
            if (row.TransactionFromAccountId == accountId)
            {
                this.runningBalance = this.runningBalance - transactionAmount;
                row.ClosingBalanceForDisplay = this.runningBalance.ToString(CURRENCYFORMAT);
                row.TransactionAmountCss = "outgoing";
                row.TransactionAmountForDisplay = "-" + transactionAmount.ToString(CURRENCYFORMAT);
            }
            else
            {
                this.runningBalance = this.runningBalance + transactionAmount;
                row.ClosingBalanceForDisplay = this.runningBalance.ToString(CURRENCYFORMAT);
                row.TransactionAmountCss = "incoming";
                row.TransactionAmountForDisplay = transactionAmount.ToString(CURRENCYFORMAT);
            }
        }

        return tableRows;
    }

    private ReminderTableRow MapBasicReminderDetailsToTableRow(Reminder reminder)
    {
        var accountId = GetConvertedAccountId();
        var row = new ReminderTableRow
            {
                Id = reminder.Id,
                WhenOccurs = reminder.WhenOccurs, 
                Description = reminder.Description,
                ReminderTheme = reminder.ReminderTheme,
                TransactionFromAccountId = reminder.TransactionFromAccountId,
                TransactionToAccountId = reminder.TransactionToAccountId,
                TransactionAmountForMath = reminder.Amount
            };

        return row;
    }

    private List<ReminderTableRow> GetRecurringTableRows()
    {
        var tableRows = new List<ReminderTableRow>();
        var accountId = GetConvertedAccountId();

        var startDate = DateOnly.FromDateTime(DateTime.Now);
        var endDate = startDate.AddDays(this.currentRangeInDays);

        foreach (var reminder in this.reminders)
        {
            // Set the date variables that will be used throughout the code
            DateOnly whenOccurs = reminder.WhenOccurs;
            DateOnly? whenExpires = reminder.WhenExpires;

            // If it falls within today and activeRangeInDays from now, we want to make at least one row for it
            if ((whenOccurs <= startDate || (whenOccurs > startDate && whenOccurs <= endDate)) && (whenExpires == null || whenExpires >= endDate))
            {
                // Only add those that start today or before and end after today

                // Get the recurrences

                if (reminder.RecurrenceTheme == RecurrenceStyle.NoRecurrence)
                {
                    // No recurrence - single occurence
                    var tableRow = MapBasicReminderDetailsToTableRow(reminder);
                    tableRow.WhenOccurs = reminder.WhenOccurs;

                    tableRows.Add(tableRow);
                }
                else
                {
                    if (reminder.RecurrenceTheme == RecurrenceStyle.Daily)
                    {
                        // Daily recurrences

                        // Start the loop at whenOccurs and run until our
                        // running date is equal to or greater than the end date.
                        // The running date will be our occurrence's display date
                        for (DateOnly runningDate = whenOccurs; runningDate <= endDate; runningDate = runningDate.AddDays(reminder.RecurrenceInterval))
                        {
                            var tableRow = MapBasicReminderDetailsToTableRow(reminder);
                            tableRow.WhenOccurs = runningDate;

                            tableRows.Add(tableRow);
                        }

                    }
                    else if (reminder.RecurrenceTheme == RecurrenceStyle.Weekly)
                    {
                        // Weekly recurrences

                        //RecurrenceInterval X 7 days in a week
                        var daysTillNextOccurrence = reminder.RecurrenceInterval * 7; 

                        // Start the loop at whenOccurs and run until our
                        // running date is equal to or greater than the end date.
                        // The running date will be our occurrence's display date
                        for (DateOnly runningDate = whenOccurs; runningDate <= endDate; runningDate = runningDate.AddDays(daysTillNextOccurrence))
                        {
                            // If this new occurence is between start and end date, add it
                            if (runningDate >= startDate)
                            {
                                var tableRow = MapBasicReminderDetailsToTableRow(reminder);
                                tableRow.WhenOccurs = runningDate;

                                tableRows.Add(tableRow);
                            }
                        }
                    }
                    else if (reminder.RecurrenceTheme == RecurrenceStyle.Monthly)
                    {
                        // Monthly recurrences

                        // Start the loop at whenOccurs and run until our
                        // running date is equal to or greater than the end date.
                        // The running date will be our occurrence's display date
                        for (DateOnly runningDate = whenOccurs; runningDate <= endDate; runningDate = runningDate.AddMonths(reminder.RecurrenceInterval))
                        {
                            // If this new occurence is between start and end date, add it
                            if (runningDate >= startDate)
                            {
                                var tableRow = MapBasicReminderDetailsToTableRow(reminder);
                                tableRow.WhenOccurs = runningDate;

                                tableRows.Add(tableRow);
                            }
                        }
                    }

                }

            }            
        }

        return tableRows;
    }

    private async Task HandleAccountIdSubmitAsync()
    {
        await SetReminders();
        navigationManager.NavigateTo("/r/" + AccountId);

        this.tableRows = GetReminderTableRows();
    }

    private void HandleCurrentFundsSubmit()
    {
        this.runningBalance = this.currentFunds;
        tableRows = GetReminderTableRows();
    }

    private int GetConvertedAccountId()
    {
        int id;

        if (!string.IsNullOrWhiteSpace(AccountId) && int.TryParse(AccountId, out id))
        {
            return id;
        }

        return 0;
    }

    private bool HasActiveScheduleWithinRange(Reminder reminder)
    {
        var start = DateOnly.FromDateTime(DateTime.Now);
        var end = start.AddDays(this.currentRangeInDays);

        // If it falls within today and activeRangeInDays from now, return true
        if (reminder.WhenOccurs <= start && (reminder.WhenExpires == null || reminder.WhenExpires > end))
        {
            return true;
        }

        return false;
    }

    private class ReminderTableRow
    {
        public int Id { get; set; }

        public DateOnly WhenOccurs { get; set; }

        public string TransactionAmountForDisplay { get; set; } = (0).ToString(CURRENCYFORMAT);

        public decimal TransactionAmountForMath { get; set; }

        public string? Description { get; set; }

        public ReminderStyle ReminderTheme { get; set; }

        public string ClosingBalanceForDisplay { get; set; } = (0).ToString(CURRENCYFORMAT);

        public string? TransactionAmountCss { get; set; }

        public string? ClosingBalanceCss { get; set; }

        public int? TransactionFromAccountId { get; set; }

        public int? TransactionToAccountId { get; set; }
    }

}
